#############################
#   DOTNET / VISUAL STUDIO
#############################

# Build results (global)
**/bin/
**/obj/

# Visual Studio cache folders
.vscode/
.vs/
**/.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IntelliJ
.idea/

# VS cache and temp
*.cache
*.db
*.pdb
*.tmp
*.temp
*~

#############################
#   CONFIG
#############################

# Logs
*.log

# Optional: prevent local env settings from being committed
appsettings.Development.json

#############################
#   NPM / FRONTEND (si lo usas)
#############################
node_modules/

#############################
#   NuGet
#############################
**/packages/*
!**/packages/build/
